<h1>Ember App</h1>
<p>Test Ember app for lists of animals.</p>
<p>
	Available routes: {{#link-to 'mammals' class="button"}}Mammals{{/link-to}},
	{{#link-to 'birds' class="button"}}Birds{{/link-to}}
</p>
{{outlet}}